<h1 class="mb30">ようこそ Bookers へ！</h1>

<div class="ml50 fs-13">
	<p class="mb30">
	Bookers では、さまざまな書籍に関するあなたの意見や<br><br>
	印象を共有し交換することができます</p>

	<%= link_to "start", bookers_path(@booker)%>	
</div>

